.about {
    background-color: var(--primary-color);
    padding: 8em 3em 8em 3em;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;


}

.txt-btn-about {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;

    
}

.about-container h2 {
    color: var(--secondary);
    font-family: var(--font-retroica);
    font-weight: bold;
    font-size: 30px;
    text-decoration: overline;
}

.about-container p {
    color: rgb(110, 185, 235);
    font-size: 20px;
    font-family: var(--font-retroica), serif;
    font-weight: bold;
    letter-spacing: 0.15em;
    max-width: 400px;
    margin-bottom: 2em;
}

.about-container span {
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: var(--font-retroica), serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    word-wrap: break-word;
    letter-spacing: 0.15em;
}

.about-btns {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1.5em;


}

.about-btns a {
    background-color: whitesmoke;
    color: #570A06;
    padding: 1em 1em;
    text-decoration: none;
    font-family: var(--font-retroica), serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
    
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
}

.about-btns a:hover {
    background-color: #570A06;
    color: whitesmoke;
    scale: 1.05;

}

.img-about {
    display: flex;
    flex-direction: column;
    flex: 0 0 1;
 
    max-width: 400px;


}

.img-about img {
    display: flex;
    flex: 0 0 1;
    border-radius: 30px;
    max-width: 100%;
    object-fit: cover;
}

@media (min-width: 1112px) {

    .about-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 3em;
    }

    .txt-btn-about {
        margin-top: 1em;
        gap: 1em;
        margin-bottom: 0;
    }

    .about-container p {
        color: rgb(149, 205, 243);
        font-size: 20px;
        text-align: left;
        font-family: var(--font-retroica), serif;
        font-weight: bold;
        letter-spacing: 0.1em;
        letter-spacing: 0.15em;
        max-width: 700px;
        margin-bottom: 1em;
    }

    .about-container span {
        color: white;
        font-size: 20px;
        text-align: left;
        font-family: var(--font-retroica), serif;
        font-weight: bold;
        letter-spacing: 0.1em;
        word-wrap: break-word;
        letter-spacing: 0.15em;
    }

    .about-btns {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: right;

    }

    .about-btns a {
    
    }

    .about-btns a:hover {

    }

    .img-about {
        flex-direction: column;
    }

    .img-about img {
        flex-direction: column;
    }

}