.about {
    background-color: var(--primary-color);
    padding: 6em 3em 6em 3em;
    display: flex;
    justify-content: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
justify-content: center;
max-width: 410px;

}

.txt-btn-about {
    display: flex;
    flex-direction: column;
    gap: 1em;


    max-width: 400px;
    margin: auto;
}

.about-container h2 {
    color: var(--secondary);
    font-family: var(--font-retroica);
    font-weight: bold;
    font-size: 30px;
    text-decoration: overline;
}

.about-container p {
    color: rgb(110, 185, 235);
    font-size: 18px;
    font-family: var(--font-retroica), serif;
    font-weight: bold;
    letter-spacing: 0.15em;
    max-width: 390px;
    margin-bottom: 2em;
}

.about-container span {
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: var(--font-retroica), serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    word-wrap: break-word;
    letter-spacing: 0.15em;
}

.about-btns {
    display: flex;
    flex-wrap: wrap;
    column-gap: .5em;
    row-gap: 1.5em;


}

.about-btns a {
    background-color: whitesmoke;
    color: #570A06;
    padding: 1em 1.5em;
    text-decoration: none;
    font-family: var(--font-retroica), serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;

    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;


}

.about-btns a:hover {
    background-color: #570A06;
    color: whitesmoke;
    scale: 1.05;

}

.img-about {
    display: flex;
justify-content: center;
flex: 1 1 1;

width: 100%;


}

.img-about img {
    display: flex;
flex: 1 1 1;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;

}

@media (min-width: 952px) {

    .about-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;  
max-width: 100%;
        gap: 3em;
padding: 0;

align-items: center;
    }

    .txt-btn-about {
        display: flex;
        gap: 1.5em;

        max-width: 100%;
        margin: 0 .5em 0 0;

    }

    .about-container p {
        color: rgb(149, 205, 243);
        font-size: 18px;
        text-align: left;
        font-family: var(--font-retroica), serif;
        font-weight: bold;
        line-height: 1.1em;
        letter-spacing: 0.15em;
        max-width: 100%;
        margin-bottom: .05em;
        
    }

    .about-container span {
        color: white;
        font-size: 18px;
        text-align: left;
        font-family: var(--font-retroica), serif;
        font-weight: bold;
        letter-spacing: 0.1em;
        word-wrap: break-word;
        letter-spacing: 0.15em;
    }

    .about-btns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: .5em;
        justify-content: right;
        

    }

    .about-btns a {

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;

    }

    .about-btns a:hover {

    }

    .img-about {
margin: 0;
width: 100%;
height: 100%;
object-fit: cover;

    }

    .img-about img {

width: 100%;
object-fit: cover;
flex: 1 1 auto;
height: 100%;
object-fit: cover;
    }

}

@media (min-width: 1035px) {
    .about-container p {
        font-size: 19px;
    }

    .about-container span {
        font-size: 19px;
    }
}

@media (min-width: 1097px) {
    .about-container p {
        font-size: 20px;
    }

    .about-container span {
        font-size: 20px;
    }
    .txt-btn-about {

        gap: 2em;
    }
}