/*{}*/

.skill-section {
    display: grid;
    place-items: center;

}

.skills-title {
    padding: 4em 0 4em;
font-size: 30px;
}



.slider {

    margin: auto;

    width: 70%;
    display: grid;
    place-items: center;
    overflow: hidden;

    background-color: white;
    border-radius: 80px;
    box-shadow: 5px 5px 30px;
}

.slider-track {
    display: flex;
    width: calc(250px * 12);
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 6));
    }

}

.slide {

    display: flex;
    align-items: center;
    padding: 15px;
    position: relative;


}

.slide img {
    width: 100%;
    max-height: 200px;
    transition: transform 1s;
}

.slide img:hover{
    transform: translateZ(20px);
}

@media (min-width: 850px) {
    
}

