.div-contacto {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion-contacto {
  background-color: var(--primary-color);

  padding-bottom: 10vh;
}

.seccion-contacto h3 {
color: white;
font-size: 30px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}


.form {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  max-width: 600px;
  gap: 1rem;
  justify-content: center;

    object-fit: cover;

}



.field {


    min-width: 250px;
  display: flex;
}

/* Estilos base */
.field input,
.field textarea {
  width: 100%;
  padding: 0.7rem 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 0.95rem;
}

/* Focus */
.field input:focus,
.field textarea:focus {
  outline: none;
  border-color: #53000e;
}

.contacto-enviar {
  display: flex;
  justify-content: center;
grid-column: 1 / -1;
  margin: 2em auto;

}


.contacto-enviar button {
    background-color: var(--primary-color);
    border-radius: 30px ;
    padding: .8em 1em;

    font-size: 18px;
    color: white;
    font-weight: bold;

    border: 1px solid white;
}

/*{}*/

.contacto-enviar button:hover {
    background-color:white;
    color: var(--primary-color);
    scale: calc(1.05);
}

.botones-redes {
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  gap: 1rem;

}



.botones-redes img {
  max-width: 10vw;
  max-height: 10vh;
  border-radius: 20px;
  padding: 1em;
  border: 2px solid white;
    opacity: 0.8;
    
}

.botones-redes img:hover {
  scale: 1.05;
  opacity: 1;
}

footer {
  background-color: #380408;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: .5em ;
  
}

footer p {
font-size: 10px;
}

@media (min-width: 850px) {
  .form {
    grid-template-columns: repeat(2, 1fr);


  }

  .field {
    width: 100%;

  }

  /* El campo que ocupa toda la fila */
  .field.full {
    grid-column: 1 / -1;
    width: 100%;
  }


  /* Estilos base */
  .field input,
  .field textarea {
    width: 100%;
    background-color: beige;


  }
}