header {
border-bottom: none;
position: fixed;
z-index: 100;
}



.topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: #570A06;

    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1.5em 0;
}

.topnav {

    display: flex;
    width: 97%;
    margin: 0 1em;
    justify-content: space-around;

    align-items: center;
    flex-direction: row;

}

.topnav ul {
    display: flex;
}

.toptop{

        display: flex;
        align-items: center;
        color: var(--text-color);
        flex-wrap: nowrap;
        height: 3em;
        gap: 1em;

}

.encabezado {
    color: white;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    font-family: "russo one", sans-serif;

   
    text-align: center;


}

.logo img {
    border-radius: 50%; 
}



/* Menu */

.menu {
    display: flex;
    list-style: none;

    flex-wrap: nowrap;
    align-items: center;

flex-direction: row;
   
}

.menu li {
    padding: .5em 1.5em;
    flex: 1 1 0;
    display: flex;
}

.menu a {
    color: white;
    font-size: .9em;

    text-wrap: nowrap;
    letter-spacing: 0.1em;
    font-family: "russo one", sans-serif;
}

.menu li:hover {
    background-color: #731a15;
    box-shadow: 0 5px 4px #570A06;

}


.open-menu,
.close-menu {
    display: none;
}


@media (max-width: 850px) {
    .topnav {
        padding: 0 0;
        width: 80%;
        align-items: center;

        margin: auto;
    }

	.toptop{

        	display: flex;
        	align-items: center;
        	gap: 2em;
            width: 100%;
        	color: var(--text-color);

        padding: 0;
        justify-content: space-around;

        }



    .encabezado {
        font-size: 1.2em;

    }


    .menu {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 6em;
        width: 12em;
        align-items: center;
        background-color: #570A06;
        box-shadow: 0cqb;
        overflow-y: auto;
        gap: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 5px 5px 30px;
        border-top: solid 2px white;
    }

    

    .menu li {
        text-align: center;
        padding: 0 0;

        width: 100%;
        line-height: 2.5em;

        
        

    }

    .menu a {
        text-align: center;
        font-size: 13px;
        color: var(--text-color-inverse);

        padding: 0;
        flex: 1 0 0;
        text-wrap: nowrap;
 
    }

    .open-menu,
    .close-menu {
        display: block;
        border: none;
        cursor: pointer;
        background: none;
    }

    .open-menu {
        padding: 0 3px;
    }

    .close-menu {
        align-self: flex-end;
        padding: 27px 31px;
    }

    .menu_opened {
        opacity: 1;
        pointer-events: all;
    }
}

@media (min-width: 500px) and (max-width: 850px) {
    .topnav {
    justify-content: space-around;
    
  }

    .toptop {
    justify-content: space-around;

  }

    .encabezado {
    font-size: 1.4em;
  }

}

