.profile {
    background-color: var(--secondary);
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em 2em 5em 2em;
    gap: 2em;
    align-items: center;    
    
}

.profile-img {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    margin: .5em 0;
    max-width: 300px;

    
    border-radius: 50%;
}

.profile-img img {
    display: flex;
    flex: 1 1 0;
    width: 260px;
    border-radius: 50%;
    border: 10px solid #570A06;
    object-fit: cover;
    height: 280px;
    background-color: rgb(68, 0, 255);
    background: linear-gradient(to left, rgb(35, 60, 254), rgb(68, 0, 255));
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    gap: 1.5em;
    margin: 4em 0 2em 0;
}

.title-container {
    display: flex;


    flex-direction: column;
    align-items: center;

    
}

.profile-title {
    font-family: "russo one", sans-serif;

    font-size: 35px;
    
    display: flex;

    color: var(--primary-color);
    text-align: center;
}






.descProfile {

    font-family: "russo one", sans-serif;
    font-size: 25px;


    color:  var(--primary-color);
    text-align: center;

}


.descProfile span{
    position: relative;
    display: flex;
flex-wrap: wrap;

}

.descProfile span::before {
    content: "front end developer" ;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    animation: words 20s infinite;


}

.descProfile span::after {
    content: "";
    position: absolute;

    height: 100%;
    background-color: var(--secondary);

    display: flex;
    right: 0;
   
    animation: cursor .1s infinite, typing 25s steps(20) infinite;
}



@keyframes words{
    0%, 100%{
        content: "front end developer" ;

    }


}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
        } 

    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: 100%;
        } 

} 


.animaProfile {

    text-align: center;
  margin: 0;

}

.animaProfile span {

  opacity: 0;
    margin: 0;
  animation: textFadeLoop 4s infinite;
}

.animaProfile .line-1{
    animation-delay: 0s;
    font-family: "russo one";

}


/* primera línea */
.animaProfile .line-2 {
  animation-delay: 0.35s;
font-family: "russo one";

}

/* segunda línea aparece después */
.animaProfile .line-3 {
  animation-delay: 0.70s;
  font-family: "russo one";
}

@keyframes textFadeLoop {
  0% {
    opacity: 0;

  }

  15% {
    opacity: 1;

  }

  65% {
    opacity: 1;

  }

  100% {
    opacity: 0;

  }
}

@media (min-width: 950px) {
    .profile {
        display: flex;
        flex-direction: row;
        gap: 3em;
        padding: 3em 2em;
        justify-content: space-evenly;
        margin-top: 0;
        text-align: left;



    }

    .profile-info  {
        margin-top: 2em;
    }  
    
    .title-container {
        display: flex;

        text-align: left;
       
    }

    .profile-title {
        text-wrap: nowrap;
        font-size: 55px;
        color: var(--primary-color);
        text-align: center;
        margin: 0;
    
    }

    .profile-container {
        gap: 0;
        margin: 0;
    }

    .descProfile {
        font-size: 30px;
        padding-left: 0;
        margin: .3em 0;
        text-align: left;
        
    }

    .animaProfile {
        font-size: 33px;
        padding-left: 0;
        text-align: left;
        margin: 0;
        line-height: 1.5em;
    }

    .line-1 {
        margin: 0;
    }

    .profile-img {
        max-width: 350px;
        margin-top: 1em;
        padding-right: 1em;
        
    }

    .profile-img img {

        margin: 0;
        height: 350px;
        width: 250px;
        border-radius: 50%;
    }
}

@media (min-width: 500px) and (max-width: 950px) {


    .profile-title {

        font-size: 55px;

    
    }

        .descProfile {
        font-size: 30px;
        width: fit-content;
        
    }
    .animaProfile .line-1{
    font-size: 1.5em;

}
.profile-img {
    margin-top: 1em;

}

.profile-img img {
    height: 250px;
    width: 230px;
}

/* primera línea */
.animaProfile .line-2 {
  font-size: 1.5em;;


}

/* segunda línea aparece después */
.animaProfile .line-3 {
  font-size: 1.5em;
}
}