.seccion-proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;

    padding: 5em 1em;
}

.projects-title h2 {
    color: var(--primary-color);
}

.grid-proyectos {
    display: grid;
    grid-template-columns: auto;
    gap: 3em;
    max-width: 400px;
}

.proyecto-img {
    display: flex;
    justify-content: center;
    background-color: white;
    max-height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.etiqueta-proyecto {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    box-shadow: 4px 4px 8px var(--navbar-shallow-color);
}

.etiqueta-proyecto h3 {
    color: var(--secondary);
}

.etiqueta-proyecto p {
    padding-bottom: 0.5em;
    color: var(--secondary);
}

.proyecto-btns {
    display: flex;
    flex-wrap: wrap;
}

.proyecto-btns a {
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    font-size: 16px;
    color: var(--primary-color);
}