.seccion-skills {
    height: 50vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 4em;
    margin-bottom: 3em;
}

.skills-title {
    color: var(--primary-color);
}

.icon-menu-skills {
    display: flex;

    align-content: center;
    border-radius: 40px;
    box-shadow:
        0 -3px 6px var(--primary-color),
        0  8px 18px var(--primary-color)
        0 -3px 6px var(--primary-color),
        0  8px 18px var(--primary-color);
    padding: 0 1em;
    background-color: white;
}

.icon-menu-skills input {
    display: none;
}

.viewport-skills {
    overflow: auto;
    align-content: center;
    scrollbar-width: none;
    padding: 1em 1em;

}

.pages {
    overflow: visible;
    display: flex;

    transition: ease-in-out 0.5s;

}

.page {
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    overflow: hidden;
    align-items: center;
}

.page a {
    display: flex;
    justify-content: center;

}

.page img {
    max-width: 50px;
    height: auto;
}

#page1:checked ~ .viewport-skills .pages {
    transform: translateX(0);
}

#page2:checked ~ .viewport-skills .pages {
    transform: translateX(-100%);
}

.controls {
    display: flex;
    align-items: center;
}

.controls label {
    cursor: pointer;
    background: #628141;
    color: white;
    padding: 0.25em 0.6em;
    border-radius: 50px;
}